.navbar-default {
    
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    background-color: #fff;
    min-height: 20px;
}
.navbar-default .navbar-header  {
    text-transform: uppercase;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
    color: #1D489F;
   }

   .landing{
   	padding-top: 50px;
   height: 800px;
   }

   .btn-primary {
    
    color: #fff;
    background-color: #00a25e;
    text-transform: uppercase;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}